* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.Head1 {
  background-color: black;
  color: #787dff;
  padding: 20px 20px;
  text-align: center;
  border: px solid black;
  /* height: 50px; */
}

.Entry {
  background-color: rgb(228, 228, 243);
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  font-weight: 600;
}

.dabba {
  border: 1px solid black;
  border-radius: 10px;
  width: 350px;
  height: 55px;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.image {
  padding: 16px 0px 0px 10px;
  display: flex;
  flex-direction: row;
}

.notes {
  display: flex;
  text-align: center;
  padding-top: 20px;
}

.data {
  padding: 50px 0px 100px 0px;
  background-color: white;
}

.foot {
  background-color: black;
  color: white;
  padding: 20px 20px;
  width: 98.85vw;
  text-align: center;
  position: absolute;
}

input {
  border: 0px;
  padding: 5px 20px;
  width: 30%;
}

img {
  display: flex;
  max-width: 20px;
  height: 20px;
}

.submit {
  display: flex;
  padding-left: 80px;
}

.amount {
  display: flex;
  max-width: 5000px;
  height: auto;
}

button {
  background-color: white;
  border: 0px;
}

.tt {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(213, 212, 212);
  border-radius: 10px;
  width: 45%;
  margin: auto;
  padding: 17px;
  justify-content: space-between;
}

.amt {
  display: flex;
}
.img1 {
  margin-right: 10px;
}
.result {
  text-align: center;
}

.below {
  display: flex;
  flex-direction: row;
  width: 45%;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
}

.fa {
  color: white;
}

span {
  color: #787dff;
}

.count {
  padding-right: 30px;
}
.currency {
  padding-left: 10px;
}

.counts {
  padding-right: 43px;
  color: #787dff;
}

.tt1 {
  padding-left: 7%;
  display: flex;
  flex-direction: row;
  width: 45%;
  margin: auto;
}
.sum {
  padding: 2.5px 25px;
  color: #787dff;
}
